[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
aiosqlite = "*"
pydantic-settings = "*"
loguru = "*"

[dev-packages]
alembic = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
